<h2>Task from <%= link_to @task.category[:name], categories_show_path(@task.category[:slug]) %></h2>

<div class="task-item task-show-look">
    <p>Title:</p>
    <h3><%= @task.name %></h3>
</div>

<div class="task-item task-show-look">
    <p>Content:</p>
    <h3><%= @task.content %></h3>
</div>

<button onclick="show_edit_form()" id="edit_task_button">Edit</button> 
<%= link_to task_deleting_path(@task.category[:slug], @task.id), method: :delete, data: {confirm: "Delete this question?"} do %>
<button id="delete_task_button">Delete</button>
<% end %>

<div id="show_id_form_tasks_edit" class="task-item">
    <%= form_with model: @task, url: task_updating_path(@task.category[:slug], @task.id), method: :patch do |form| %>
        <%= form.label :name, "Title", class: "form-label-new" %><br>
        <%= form.text_field :name %><br>     

        <%= form.label :content, "Content", class: "form-label-new" %><br>
        <%= form.text_area :content, rows: 3 %><br>

        <%= form.submit "Update Post", id: "form-create-new" %>     
        <% end %>
</div>


<%# <script>
 function show_edit_form(){
     console.log("show edit form")
     form = document.getElementById("show_id_form_tasks_edit")
     form.style.display = "block";
    }
</script> %>

    



