<!DOCTYPE html>
<html>
  <head>
    <title>TaskApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="container">
    <div class="left-container">
    <h1>GogoTask</h1>
    <% @categories.each do |categories| %>
        <p><%= link_to categories.name, categories_show_path(categories.slug)%></p>
    <% end %>
    </div>
    <div class="right-container">
      <%= yield %>
    </div>
</div>
    
  </body>
</html>
