<!DOCTYPE html>
<html>
  <head>
    <title>TaskApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="container">
    <div class="left-container">
    <h1>GogoTask</h1>
    <p>All</p>
    <% @categories.each do |categories| %>
      <%= link_to categories_show_path(categories.slug) do %>
          <p><%= categories.name %></p>
      <% end %>
    <% end %>

    </div>
    <div class="right-container">
      <%= yield %>
    </div>
</div>
    
  </body>
</html>
