<!DOCTYPE html>
<html>
  <head>
    <title>TaskApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  
  <div class="container">
  
    <div class="left-container">
    
    <h1>GogoTask</h1>
      <% if user_signed_in? %>
      <p><%= link_to "All", pages_index_path %></p>
      
        <% @categories.each do |categories| %>
          <%= link_to categories_show_path(categories.slug) do %>
          
                <p><%= categories.name %>
                <%= link_to category_deleting_path(categories.slug), method: :delete, data: {confirm: "Delete this category?"} do %>
                <span id="delete-category-span">Delete</span>
                <% end %>
                </p>
          <% end %>
        <% end %>
        
        <div class="create-category-div">
          <%= form_with model: @category,scope: :category, url: category_new_path, method: :post, local: true do |form| %>
            <%= form.text_field :name, class: "category-name-input", placeholder: "New Category" %><br>
            <%= form.submit "Submit", class: "category-create-new"%>  
          <% end %>
      
        
        
           
        
      </div>
          <span><%= current_user.email %></span>
          <%= link_to "Logout", destroy_user_session_path, method: :delete %> 
        <% end %>
      </div>
      
    <div class="right-container" id="right-container-id">
      <%= yield %>
    </div>
</div>
    
  </body>
</html>
